nav {
  display: flex;
  border-bottom: 2px solid rgb(246, 244, 244);
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  z-index: 999;
  margin-left: 2rem;
}

input {
  padding: 12px 20px;
  border: none;
  background: rgb(246, 245, 245);
  outline: none;
  margin-right: 14rem;
  border-radius: 5px;
  position: relative;
  width: 23rem;
}

/* Media query for tablets */
@media (max-width: 1024px) {
  nav {
    justify-content: space-around;
    margin-right: 1rem;
  }

  input {
    margin-right: 10px;
    width: 20rem;
  }
}

/* Media query for mobile phones */
@media (max-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-right: 0;
  }

  input {
    position: relative;
    width: 80%;
    margin-left: 15rem;
    padding-right: 10px;
  }
}
